<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="deafaultsuite">
    <classes>
      <class name="testNGExecutionPackage.Test3"/>
      <class name="testNGExecutionPackage.Test2"/>
      <class name="testNGExecutionPackage.Test1"/>
    </classes>
  </test> <!-- deafaultsuite -->
</suite> <!-- Suite -->
